input[type=text], input[type=number], textarea{
    padding: 25px;
    font-size: 20px;
    border: 2px solid #752180;
}
#formQuantity:focus,#formRate:focus,#formCustomerName:focus,#formCustomerContact:focus,#formCustomerAddress:focus{
    background:#fff8d6;
}

#formCustomerAddress{
    padding:15px;
}