

RewriteOptions inherit
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /stc_gld/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /stc_gld/index.html [L]
</IfModule>

